body {
    height: 100%;
    background-color:lightblue;
}

#board {
    padding: 1em;
    padding-top: 2vh;
    padding-bottom: 5vh;
    width: 400px;
    margin: auto;
    height: 400px;
    text-align: center;
    background-color: #9d88b8;
    border-radius: 15px;
    box-shadow: 10px 10px #5e487a;
}
h1 {
    margin-bottom: 0px;
    color: #ddd5e6;
}
h2 {
    padding: 0px;
    margin: 0 0 5px 0;
    color: #d3c0e7;
}

.row {
    clear: both;
    margin: auto;
    width: 302px;
}

/* all 9 cells */
.row > div {
    float: left;
    width: 100px;
    height: 100px;
    background-color: white;
    cursor: pointer;
    line-height: 100px;
    font-size: 75px;
    border-radius: 3px;
}

.top  {
    border-bottom: 1px solid black;
}

.bottom {
    border-top: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.left {
    border-right: 1px solid black;
}


#gameDraw { 
    margin-top: 30px;
    display: inline-block;
    /*kground-color: #f2d699;*/
  }
  
  .resetButton {
    background-color: #f2d699;
    border: 1px solid white;
    height: 25px;
    weight: 75px;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
  }
  .resetButton:hover {
    animation:blinkingtext 2s infinite;
    box-shadow: 5px 5px black;
    
    
  }
  @keyframes blinkingtext{
    0%{ 
      color: white;
      box-shadow: 5px 5px white;
    }
    20%{ 
      color: gold;
      box-shadow: 5px 5px gold;
    }
    30%{ 
      color: orange;
      box-shadow: 5px 5px orange;
    }
    50%{ 
      color: yellow;
      boxshadow: 5px 5px yellow;
    }
    75%{ 
      color: greenyellow; 
      box-shadow: 5px 5px greenyellow;
    }
    100%{ 
      color: lightgreen;
      box-shadow: 5px 5px lightgreen;
    }
    
  }